<p>New user <%= "#{@user.name}" %> has signed up and is waiting for your approval </p><br>
<p>Click the link to approve the user </p><br>
<%= link_to 'Approve', "http://localhost:3000/static_pages/static_pages/unblock/#{@user.id}" %>
