<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    
    <p>
      Dear <%= @u.name %>, your leave of <%= @leave.duration %> days has been approved by the management.
    </p><br>
    <p> Happy Holidays </p>
    
  </body>
</html>