<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
  		Hello Admin, <%= @user.name %> has applied for leave.
    </p><br>
     <p>
      To approve the request for leave of the employee follow this link <a href="http://localhost:3000/yy/leaves/applyindex"> click here</a>
    </p>
    
  </body>
</html>